.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    border-spacing: unset;

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        max-width: 450px;
        min-width: 100px;
        border-radius: 0.3rem;
        z-index: 2;
    }

    input {
        outline: none;
        border-color: rgba(45,97,199,0.55);
        padding: 0.7em 0.8em 0.7em 0.8em;
        border-radius: 0.25rem;
        background-color: white;
        border-style: solid;
        width: 100%;
        margin-bottom: 1em;
    }

    input:focus, :active{ 
        border-color: rgb(45,97,199);
    }

    h3{
        margin-bottom: 0.8rem;
        margin-top: 0px;
    }
    button {
        padding: 0.8em 2em 0.8em 2em;
        border-radius: 0.25em;
        box-shadow: black;
        border:none;
        flex-grow: 0.47;
        font-weight: bold;
    }

    button:focus, :active{ 
        border-color: rgb(45,97,199);
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
    }
    .buttonClose {
        background-color: whitesmoke;
        color:black;
    }

    .buttonAdd {
        background-color: rgb(1,168, 255);
        color:white;
    }
    .buttonAdd:disabled {   
        font-weight: normal;
        opacity: 0.5;
        cursor: not-allowed;
    }

}
